# ================================================	start of C# projects	================================================ #
# Build Folders
/**/Networking-with-C#/**/bin/
/**/Networking-with-C#/**/obj/

# ================================================	end of C# projects		================================================ #

# ================================================	start of node projects	================================================ #
dist
out
/**/**/**/node_modules

/**/**/glslEditor

# AWS SDK
/Cloud/IaC/aws-cdk/**/*.js
/Cloud/IaC/aws-cdk/**/*.d.ts
/Cloud/IaC/aws-cdk/**/.cdk.staging
/Cloud/IaC/aws-cdk/**/cdk.out

# ================================================	end of node projects	================================================ #


# VS Code settings
.vscode/
.vs

# ================================================        exceptions		================================================ #
!/Cloud/IaC/aws-cdk/**/bin/
!/Cloud/IaC/aws-cdk/**/lib/
!/Cloud/IaC/aws-cdk/**/jest.config.js
# ================================================	end of exceptions 	================================================ #

.env
volume
.terraform
*.tfstate
*.tfstate.backup